
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,100italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic);

body {
	margin: 1em;
	line-height: 1.4em;

	background-color: #eeeeee;
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
	display:flex;
	flex-direction:column;
}

.paper-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-toolbar {
  color: #fff;
  background: #2e7d32;
}

.app-bar, .navdrawer-container, main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.promote-layer {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  padding: 0px 32px 0px 0px;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 40px;
}

.app-bar .logo {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.3em;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 400;
  line-height: 64px;
}

.app-bar button {
  width: 64px;
  height: 64px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.text-button {
	width: auto;
	height: auto;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 12pt;
}

.app-bar .text-button {
	color: #fefefe;
}

button.menu img {
  height: 32px;
  width: 32px;
}


* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: .375s ease;
}

.wrapper {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	margin-top: 64px
}

.box {
	background-color: #fafafa;
	box-shadow: 0px 2px 2px rgba(0,0,0,.2),	0px 0px 2px rgba(0,0,0,.2);
	width: 480px;
	border-radius: 2px;
	margin:8px;
	display:flex;
	flex-direction:column;
  position: relative;
}

.box .text {
	padding: 12px 12px 36px 12px;
}

.box .bb {
	border: 1px solid red;
}

.box .title {
	color:  black;
	font-weight: 500;
	font-size: 20px;
	margin-top: -2px;
	margin-bottom: 12px;
}

.box .footer {
  position: absolute;
  bottom: 0;  
  padding: 8px 12px;
  font-size: 12px;
}

.box .theme {
  color: #404040;
  font-size: 16px;
  padding-left: 2em;
}

.box p {
	color: rgba(0,0,0,.5);
	font-size: 16px;
	line-height: 24px;
	margin: 0px;
}

.box .act {
	padding: 8px 0;
	text-align: right;
}

.message {
  font-size: 18px;
  align: center;
}

.link {
  color: #f86445; 
  cursor: pointer;
}